<div class="row">

  <div class="col d-flex mb-xl-4">
    <div class="pl-4 profile-photo-container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3">
          <a href="" class="profile-photo">
            <img src="/assets/profile-thumb.svg" alt="profile picture">
          </a>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9">
          <ul class="txt-sm user-info px-xl-4 pb-5 pt-4 pt-xl-0">
            <li>Welcome <span class="user-name">Jabiern Merino</span></li>
            <li>Tel: 305.206.2445</li>
            <li>Email : jabier@tenantevaluation.com</li>
          </ul>
        </div><!-- /col -->
      </div>

    </div>
  </div><!-- /col -->







  <div class="col-12">
    <h1 class="txt-xl px-4 mt-xl-5 font-weight-light">Request a Maintenance Ticket</h1>
    <article class="title-section px-4 py-5">
      <h1 class="txt-md">New Ticket</h1>
    </article>
  </div><!-- /col -->

  <div class="col-12">
    <article class="user-action px-4 py-5">
      <p class="txt-sm">Please enter your residence and maintenace request to process your ticket.</p>
      <form action="" class="floating-labels form-bg-light">
        <div class="row">

          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="form-label-group">
              <input type="text" id="ticketName" class="form-control" placeholder="Name" tevAsciiOnly required>
              <label for="ticketName">Name</label>
            </div>
          </div><!-- ./col -->

          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="form-label-group">
              <input type="number" id="ticketNumber" class="form-control" placeholder="Unit Number" tevAsciiOnly required>
              <label for="ticketNumber">Unit Number</label>
            </div>
          </div><!-- ./col -->

          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="form-group mt-5">
              <label for="ticketComments">Comments</label>
              <textarea class="form-control txt-xs" id="ticketComments" rows="3" tevAsciiOnly></textarea>
            </div>
          </div><!-- ./col -->

          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="custom-control custom-checkbox pb-3 ml-1">
              <input class="custom-control-input" type="checkbox" id="ticketAgree" tevAsciiOnly value="option1">
              <label class="custom-control-label txt-bold" for="ticketAgree">I agree this service ticket may couse extra charges in my rent fee.</label>
            </div>
          </div><!-- ./col -->

          <div class="col-sm-12 col-md-12 col-lg-12 mt-4">
            <button class="btn btn-lg btn-primary btn-block mb-4 btn-submit" type="submit">Request Ticket</button>
          </div><!-- ./col -->
        </div>
      </form>
    </article>
  </div><!-- /col -->

  <div class="col-12">
    <h1 class="txt-xl px-4 mt-xl-5 font-weight-light">Contractor Registration</h1>
    <article class="title-section px-4 py-5">
      <h1 class="txt-md">Register a Contractor</h1>
    </article>
  </div><!-- /col -->

  <div class="col-12">
    <article class="user-action px-4 py-5">
      <p class="txt-sm">Please enter all the information required for the association.</p>
      <form action="" class="floating-labels form-bg-light">
        <div class="row">

          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="form-label-group">
              <input type="text" id="contractorCompany" class="form-control" placeholder="Company" tevAsciiOnly required>
              <label for="contractorCompany">Company</label>
            </div>
          </div><!-- ./col -->

          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="form-label-group">
              <input type="number" id="contractorLicenseNumber" class="form-control" placeholder="License Number" tevAsciiOnly required>
              <label for="contractorLicenseNumber">License Number</label>
            </div>
          </div><!-- ./col -->

          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="form-label-group">
              <input type="text" id="contractorName" class="form-control" placeholder="Name" tevAsciiOnly required>
              <label for="contractorName">Name</label>
            </div>
          </div><!-- ./col -->

          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="form-label-group">
              <input type="text" id="contractorLastName" class="form-control" placeholder="Last Name" tevAsciiOnly required>
              <label for="contractorLastName">Last Name</label>
            </div>
          </div><!-- ./col -->

          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="form-label-group">
              <input type="number" id="contractorServiceDate" class="form-control" placeholder="Service date (MM/DD/YY)" tevAsciiOnly required>
              <label for="contractorServiceDate">Service date (MM/DD/YY)</label>
            </div>
          </div><!-- ./col -->

          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="select-group">
              <select class="custom-select">
                <option selected>Service Time</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div><!-- ./col -->

          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="form-group mt-5">
              <label for="contractorServiceDescription">Service Description</label>
              <textarea class="form-control txt-xs" id="contractorServiceDescription" rows="3" tevAsciiOnly></textarea>
            </div>
          </div><!-- ./col -->

          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="custom-control custom-checkbox pb-3 ml-1">
              <input class="custom-control-input" type="checkbox" id="ticketAgree" value="option1">
              <label class="custom-control-label txt-bold" for="ticketAgree">I agree this service ticket may couse extra charges in my rent fee.</label>
            </div>
          </div><!-- ./col -->

          <div class="col-sm-12 col-md-12 col-lg-12 mt-4">
            <button class="btn btn-lg btn-primary btn-block mb-4 btn-submit" type="submit">Register</button>
          </div><!-- ./col -->
        </div>
      </form>
    </article>
  </div><!-- /col -->



</div><!-- /row -->
