// -------------------------------  MAIN COLORS
$purple: #383342;
$light-purple: #3f3c4c;
$new-purple: #4D445A;
$red: #cf4741;
$lg-red: #fcd7d7;
$green: #9ec54c;
$snow: #f5f6f6;
$white: #ffffff;
$gray: #bbbcbe;
$light-gray: #EDEEEF;
$dark-gray: #77747e;
$ice: #cfd0d2;
$bg-gray: #f5f5f5;
$bg-gray2: #E6E6E7;
$blue: #2196f3;
$lg-blue:#009CDC;
$lg-gray:#A3AAB1;
$form-gray:#8E8798;
$main-background: #f1f2f2;
