.verifications {
  .message-whit-icon {
    margin: 0 auto !important;
    padding: 0px !important;
    .gifimg {
      margin: 2% auto !important;
    }
    .text {
      padding: 0px !important;
      margin: 3% auto;
    }
    .small-text {
      padding: 0px !important;
      margin: 2% auto;
    }

  }

}
