@import "~sass/variables";
.awesome-item {
  position: absolute;
  top: 35%;
  left: 0%;
  border-radius: 10px;
  background-color: $new-purple;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  color: white;
  padding-bottom: 30px;
  width: 40%;

  .counter {
    color: #F33D3D;
    text-align: center;
  }

  .awesome-img {
    border-radius: 50%;
    margin: 10% auto 3%;
    width: 60%;
  }

  .bold-small-text{
    font-weight: bold;
    font-size: 14px;
  }

}

@media screen and (max-width: 767px) {
  .awesome-item {
    width: 80%;
    left: 10%;

  }
}


