.journal-icon {
  color: #bfbaba;
}



.user-action {

  &__text {

    h2 {
      &::before {
        background: #EF463F;
      }
    }

  }

  &__subtitle {
    font-size: 14px;
    font-weight: bold;
  }

  &__details {
    font-size: 14px;
    color: #96999C;

    p span {
      color: #40384B;
    }
  }

  &__verification-subitems {
    background-color: #F8F8F8 !important;
    padding-bottom: 5px;
    padding-top: 10px;
    margin-bottom: 10px;
    background: #F8F8F8 0% 0% no-repeat padding-box;
    border: 1px solid #E2DFDF;
    border-radius: 5px;
    opacity: 1;
  }

  &__complete-status {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    margin-top: 10px;
    width: 100%;
    font-size: 20px;
    color: #ADADAD;
  }


}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.with-subtitles {
  margin-bottom: 10px;
}

.resend-email-link {
  font-size: 13px;
  color: #73C422;
  text-decoration: underline;
  float: right;
  text-align: right;
  cursor: pointer;
}

.resend-email-link:hover {
  color: #007bff;
}

.subitem-button {
  float: right;
  margin-top: 6px;
  min-width: 100px;
  text-align: center;
}

@media (max-width: 769px) {
  .user-action {
    &__complete-status {
      margin-right: 10px;
      font-size: 15px;
      width: 20%;
      text-align: center;
      color: #ADADAD;
    }
  }
}

@media (max-width: 575px) {
  * {
    padding-left: 2px;
    padding-right: 2px;
  }
  .user-action {

    &__text {
      h2 {
        text-align: center;
      }

    }

    &__subtitle {
      text-align: center;
    }

    .resend-email-link {
      float: none;
      text-align: center;
      cursor: pointer;
    }

    .tev-btn {
      float: none;
      text-align: center;
      min-width: 170px;
    }

    .subitem-button {
      float: left;
      margin-top: 5px;
      min-width: 70%;
    }

    &__complete-status {
      width: 100%;
    }


  }
}

