.expediteReviews {
  color: #3B3445;
  margin-bottom: 30px;

  @media (max-width: 991px) {
    margin-top: 1rem;
    padding: 20px;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-title {
      font-size: clamp(1.2rem, 2.5vw, 2rem);
    }

    &-controls {
      display: flex;
      align-items: center;
      & > button {
        border: none;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        & > i {
          font-size: clamp(2rem, 2.5vw, 3rem);
          color: #3B3445;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }

  &-main {
    position: relative;
    &-actionBtn {
      all: unset;
      user-select: none;
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-50%, -50%);

      &--next {
        left: auto;
        right: 0;
        transform: translate(50%, -50%) rotate(180deg);
      }

      @media (max-width: 991px) {
        & > img {
          width: 35px;
          height: 35px;
        }
      }
    }
  }

  &-content {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "img info quote";
    gap: 20px;
    margin-top: 30px;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    color: #3B3445;

    &-img {
      grid-area: img;
      & > img {
        width: 160px;
        height: 200px;
        object-fit: cover;
        border-radius: 15px;
      }
    }

    &-author {
      grid-area: author;
      margin-top: auto;
      margin-bottom: 0;

      display: flex;
      gap: 10px;

      &-img {
        display: none;
        height: 50px;
        width: 50px;

        & > img {
          height: 100%;
          width: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      &-name {
        font-size: clamp(0.8rem, 2.5vw, 1rem);
      }

      &-position {
        font-size: clamp(0.6rem, 2.5vw, 0.8rem);
        color: #6D6F74
      }

      &-rating {
        display: flex;
        align-items: center;
        margin-top: 5px;
        & > i {
          font-size: clamp(1.2rem, 2.5vw, 1.8rem);
          color: #FFC107;
        }
      }
    }

    &-info {
      grid-area: info;
      display: flex;
      flex-direction: column;
      &-title {
        font-size: clamp(1.2rem, 2.5vw, 1.8rem);
        margin-bottom: 20px;
      }

      &-text {
        font-size: clamp(0.8rem, 2.5vw, 1rem);
        color: #6D6F74;
        margin-bottom: 20px;
      }
    }

    &-quote {
      grid-area: quote;
      & > img {
        @media (max-width: 991px) {
          display: none;
        }
      }
    }

    @media (max-width: 991px) {
      grid-template-columns: 1fr auto;
      grid-template-areas: "info quote";

      &-img {
        display: none;
      }

      &-author-img {
        display: block;
      }
    }
  }
}
