<div
[ngClass]="{'box-group box-group--connect form-box': applicantType === 'primary'}"
[ngClass]="viewType">


  <form [formGroup]="childForm">

    <div class="row" style="margin-bottom: 1rem;">
      <div class="col-12 col-md-6">
        <div class="select-applicant__form--info">
          <p>Family/friend Member Information</p>
        </div>
      </div>
    </div>

      <p class="tev-text">
        Please Provide Family/Friend Name, Phone Number and Relationship
      </p>

      <div class="row">

        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="form-label-group">
            <span class="txt-bold txt-form-title txt-xxxs">Name of Family/Friend</span>
            <mat-form-field appearance="outline">
              <input
                matInput
                     type="text"
                     id="nameFamilyFriend-{{formCounter}}"
                     formControlName="name"
                     maxlength="255"
                     tevAsciiOnly
                     class="general-input form-control"

              >
              <mat-error>{{getError('name')}}</mat-error>
            </mat-form-field>

          </div>
        </div><!-- ./col -->

        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="form-label-group">
            <span class="txt-bold txt-form-title txt-xxxs">Relationship</span>
            <mat-form-field appearance="outline">
              <input
                matInput
                     type="text"
                     id="relationship-{{formCounter}}"
                     placeholder="Relationship"
                     formControlName="relationship"
                     maxlength="60"
                     tevAsciiOnly
                     class="general-input form-control"
              >
              <mat-error>{{getError('relationship')}}</mat-error>
            </mat-form-field>

          </div>
        </div><!-- ./col -->

        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="select-group">
              <span class="txt-bold txt-form-title txt-xxxs">Dial Code</span>
              <mat-form-field appearance="outline" class="text-size-custom intro_input_text_1">
                <mat-select class="general-select"
                            [formControlName]="'dialCode'"
                            [required]="true">
                  <mat-option [value]="code | dialCodeValue" *ngFor="let code of dialCodes">{{ code | dialCodeName }}</mat-option>
                </mat-select>
                <mat-error>{{getError('dialCode')}}</mat-error>
              </mat-form-field>

            </div>
          </div>

        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="form-label-group">
            <span class="txt-bold txt-form-title txt-xxxs">Phone</span>
            <mat-form-field appearance="outline">
              <input
                matInput
                     id="familyPhone-{{formCounter}}"
                     class="form-control"
                     formControlName="phone"
                     maxlength="255"
                     [textMask]="{mask: phonemask}"
                     class="general-input form-control"
              >
              <mat-error>{{getError('phone')}}</mat-error>
            </mat-form-field>

          </div>
        </div><!-- ./col -->

      </div><!-- /.row -->
  </form>

</div>
