<div class="row approved">

  <div class="col d-flex">
    <div class="pl-4 profile-photo-container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3">
          <a href="" class="profile-photo">
            <img src="/assets/profile-thumb.svg" alt="profile picture">
          </a>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9">
          <ul class="txt-sm user-info px-xl-4 pb-5 pt-4 pt-xl-0">
            <li>Welcome <span class="user-name">Jabier Merino</span></li>
            <li>Tel: 305.206.2445</li>
            <li>Email : jabier@tenantevaluation.com</li>
          </ul>
        </div><!-- /col -->
      </div>
    </div>

    <div class="edit-ptofile-container ml-auto ">
      <a href="#" class="btn-edit-profile txt-xs">
        Edit profile
      </a>
    </div>
  </div><!-- /col -->





  <div class="col-12">
    <div class="dashboard-success">
      <article>
        <h1>Congratulations <br>Your application has <br> been approved</h1>
        <h2>Welcome to your new home!</h2>
      </article>
    </div>
  </div><!-- /col-12 -->

</div><!-- /row -->
