<div class="change-password">
  <div class="change-password__header">
    <img src="/assets/icon-te.svg" alt="Tenant Evaluation" class="change-password__header--logo">
    <div class="change-password__header--title">
      New password
    </div>
    <div class="change-password__header--text">
      Please type your new password.
    </div>
  </div>
  <div class="change-password__form">
    <form [formGroup]="changePasswordForm" (submit)="submit()">
      <div class="change-password__form--box">

        <span class="txt-bold txt-xxxs">New Password</span>
        <mat-form-field appearance="outline" class="text-size-custom intro_input_text_1">
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            type="password"
            id="password"
            class="form-control"
            formControlName="password"
            autocomplete="new-password"
            maxlength="100"
            class="register-input"
            >
            <mat-error>{{getError('password')}}</mat-error>
            <button matSuffix class="btn btn-form floating" type="button" (click)="modifyVisibility()">
              {{buttonText}}
              <i translate="no" class="material-icons mat-icon-form">{{hide ? 'visibility_off' : 'visibility'}}</i>
            </button>
        </mat-form-field>

        <span class="txt-bold txt-xxxs">Confirm Password</span>
        <mat-form-field appearance="outline" class="text-size-custom intro_input_text_1">
          <input
            matInput
            [type]="hideCP ? 'password' : 'text'"
            id="confirm-password"
            class="form-control"
            formControlName="confirmPassword"
            minlength="4"
            maxlength="100"
            class="register-input"
            >
            <mat-error>{{getError('confirmPassword')}}</mat-error>
            <button matSuffix class="btn btn-form floating" type="button" (click)="modifyVisibilityCP()">
              {{buttonTextCP}}
              <i translate="no" class="material-icons mat-icon-form">{{hideCP ? 'visibility_off' : 'visibility'}}</i>
            </button>
        </mat-form-field>

      </div>
      <button mat-button class="change-password__form--button" type="submit">SUBMIT</button>
    </form>
  </div>

  <div class="change-password__footer">
      <span>All rights reserved | Tenant Evaluation {{currentYear}}</span>
  </div>


</div>
