<div class="row">
  <div class="col-12">
    <div>
      <a [routerLink]="['../']" class="back-link">
        <span class="tev-icon tev-icon--back"></span>
        BACK</a>
    </div>
    <p>The following documents are required by
      <b>{{mainApplication | applicationBuildingName}}</b> in order to review the application.</p>

    <div class="box-container">
      <h1 class="tev-heading tev-heading--h1 tev-heading--border mb-4">Documents in review</h1>
      <p>You have some documents being reviewed. If approved they will get completed, otherwise we will notify you to
        submit new documents</p>

      <div
        class="user-action user-action--uploads mt-4"
        *ngFor="let document of workingDocumentTasks"
        >
        <a (click)="showJournalTask(document.documentTaskId)">
          <mat-icon class="journal-icon__margin journal-icon tev-icon">library_books</mat-icon>
        </a>
        <div class="user-action__description">
          <div class="user-action__text">
            <h2 class="mb-1">{{document.description}}</h2>
            <ul class="user-action__list">
              <li *ngFor="let file of document.documents">
                <span>{{file.fileName}}</span>
                <a [routerLink]="null"
                   *ngIf="authService.isCallCenterL1(); else showSigningLink">
                  View
                </a>
                <ng-template #showSigningLink>
                  <a [href]="file.fileUrl" target="_blank">View</a>
                </ng-template>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
