<div class="image-container">
  <img src="/assets/opps.png" alt="">
</div>

<div class="browser-options">
  <ul>
    <li>
      <a href="https://www.google.com/chrome/">
        <img src="/assets/chrome-logo.png" width="63" height="63" alt="">
        <br>
        Chrome
      </a>
    </li>
    <li>
      <a href="https://www.mozilla.org/en-US/firefox/new/">
        <img src="/assets/firefox-logo.png" width="63" height="63" alt="">
        <br>
        Firefox
      </a>
    </li>
    <li>
      <a href="https://support.apple.com/downloads/safari">
        <img src="/assets/safari-logo.png" width="63" height="63" alt="">
        <br>
        Safari
      </a>
    </li>    
  </ul>

  <span class="browser-selection">Click on the Browser of your choice to download them.</span>
</div>
