@import "../../../../../sass/new_step_one";
@import "../../../../../sass/tenant_2.0";
@import "../../../../../sass/styles_mat";

.btn-round.btn-inline {
  position: relative;
  top: 0;
  left: 0;
}
@media only screen and (max-width:600px) {
  .form-box {
      margin-left: 10%;
      width: 80%;
    }
}