<div class="mat-dialog-image">
  <img src="./assets/alert-dialog.svg" alt="">
</div>
<h1 mat-dialog-title>Tenant Evaluation is a <br>
  tenant screening service</h1>
<div mat-dialog-content>
  <p>Tenant Evaluation takes rental/purchase applications and process them for the property associations. This information helps
    the Associations make an informed desicion.

    <br>If the community requires a Credit Report, a Soft/Hard Equifax FICO Score 8 Algorithm or a TransUnion FICO 4 Algorithm will be processed.
    <br>
    <strong>Tenant Evaluation does not decide if you are approved. The Association does after reviewing your
      application.</strong>

  </p>
</div>
<div mat-dialog-actions>
  <button class="tev-btn tev-btn--rounded"
          (click)="onAccept()">I Understand
  </button>
</div>
