<div class="main-content-white begin-enter-code">
  <div class="container-fluid p-0">
    <div class="row justify-content-center">
      <div class="col-6">
        <img src="/assets/logo-lets-begin.svg" alt="Let's Begin">
      </div>
    </div>
  </div>
</div>


<div class="main-content begin-community-selection lower-content">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-12">
        <section class="content-box">
          <article>
            <div class="main-icon-holder xs-max"></div>
            <h1 class="txt-hero">Thank you. Payment Received</h1>
          </article>

        </section>

      </div>
    </div>
  </div>
</div>
