<div class="row">

  <div class="col d-flex mb-xl-4">
    <div class="pl-4 profile-photo-container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3">
          <a href="" class="profile-photo">
            <img src="/assets/profile-thumb.svg" alt="profile picture">
          </a>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9">
          <ul class="txt-sm user-info px-xl-4 pb-5 pt-4 pt-xl-0">
            <li>Welcome <span class="user-name">Jabiern Merino</span></li>
            <li>Tel: 305.206.2445</li>
            <li>Email : jabier@tenantevaluation.com</li>
          </ul>
        </div><!-- /col -->
      </div>

    </div>
  </div><!-- /col -->







  <div class="col-12">
    <article class="title-section px-4 py-5">
      <h1 class="txt-md">Payment Details</h1>
    </article>
  </div><!-- /col -->

  <div class="col-12">
    <article class="user-action px-4 py-5">
      <form action="" class="floating-labels form-bg-light">
        <div class="row">

          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="custom-control custom-checkbox pb-3 mt-4 ml-1">
              <input class="custom-control-input" type="checkbox" id="paymenNotUs" value="yes">
              <label class="custom-control-label txt-bold" for="paymenNotUs">Billing address is not in the United States</label>
            </div>
          </div><!-- ./col -->

          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="form-label-group">
              <input type="text" id="paymentBillingAddress" class="form-control" placeholder="Street Name" tevAsciiOnly required>
              <label for="paymentBillingAddress">Name (as it appears on your card)</label>
            </div>
          </div><!-- ./col -->



          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="form-label-group">
              <input type="text" id="paymentStreet" class="form-control" placeholder="Street" tevAsciiOnly required>
              <label for="paymentStreet">Street</label>
            </div>
          </div><!-- ./col -->

          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="form-label-group">
              <input type="text" id="paymentCity" class="form-control" placeholder="City" tevAsciiOnly required>
              <label for="paymentCity">City</label>
            </div>
          </div><!-- ./col -->

          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="select-group">
              <select class="custom-select">
                <option selected>State</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div><!-- ./col -->

          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="form-label-group">
              <input type="number" id="paymentZipCode" class="form-control" placeholder="Zip Code" tevAsciiOnly required>
              <label for="paymentZipCode">Zip Code</label>
            </div>
          </div><!-- ./col -->

          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="form-label-group">
              <input type="number" id="paymentCreditCard" class="form-control" placeholder="Credit Card Number" tevAsciiOnly required>
              <label for="paymentCreditCard">Credit Card Number</label>
            </div>
          </div><!-- ./col -->

          <div class="col-7 col-sm-12 col-md-6 col-lg-6">
            <div class="form-label-group">
              <input type="number" id="paymentExpiration" class="form-control" placeholder="Expiration (MM/YY)" tevAsciiOnly required>
              <label for="paymentExpiration">Expiration (MM/YY)</label>
            </div>
          </div><!-- ./col -->

          <div class="col-5 col-sm-12 col-md-6 col-lg-6">
            <div class="form-label-group">
              <input type="number" id="paymentCVV" class="form-control" placeholder="CVV" tevAsciiOnly required>
              <label for="paymentCVV">CVV</label>
            </div>
          </div><!-- ./col -->

          <div class="col-12">
            <div class="payment-options mt-4">
              <ul>
                <li>
                  <img src="/assets/icon-visa.svg" alt="visa">
                </li>
                <li>
                  <img src="/assets/icon-mastercard.svg" alt="mastercard">
                </li>
                <li>
                  <img src="/assets/icon-discover.svg" alt="discover">
                </li>
              </ul>
            </div><!-- ./payment-options -->
          </div><!-- ./col -->

          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="add-account mt-4 mb-3">
              <button class="btn btn-link with-icon txt-xs txt-purple">Add a Bank Account</button>
            </div><!-- ./add-car-->
          </div><!-- ./col -->



          <div class="col-sm-12 col-md-12 col-lg-12 mt-4 justify-content-center d-flex">
            <button class="btn btn-lg btn-primary btn-block mb-4 btn-submit" type="submit">Save</button>
          </div><!-- ./col -->
        </div>
      </form>
    </article>
  </div><!-- /col -->
</div><!-- /row -->
