$light-gray: #d0d1d3;
$dark-gray: #77747e;

.agreement-text {
  max-height: 15em;
  overflow-y: auto;
  padding: 1em;
  margin: 1em 0;
  border: 1px solid #f1f1f2;
  background-color: #F5F5F5;
}

.agreement-checkbox {
  padding-top: 50px;
}