<div class="row">

  <div class="col-12">
    <div>
      <a [routerLink]="['../']" class="back-link">
        <span class="tev-icon tev-icon--back"></span>
        BACK</a>
    </div>

    <div class="box-container">
      <h1 class="tev-heading tev-heading--h1 tev-heading--border-x3">My Profile</h1>
      <div class="my-profile">
        <div class="my-profile__photo">
          <img src="/assets/avatar-profile.svg" alt="">
        </div>
        <div class="my-profile__title">
          <span>My Digital <strong>ID</strong></span>
        </div>
        <div class="my-profile__info">
          <div>
            <small>First Name</small>
            <p>{{mainApplication.applicants[0].name.split(' ')[0]}}</p>
          </div>
          <div>
            <small>Last Name</small>
            <p>{{mainApplication.applicants[0].name.split(' ')[2]}}</p>
          </div>
          <div>
            <small>Email</small>
            <p>{{mainApplication.applicants[0].email}}</p>
          </div>
        </div>
      </div>
      <form class="floating-labels form-bg-light"
            [formGroup]="changePasswordForm" (submit)="submit()">

        <h2 class="tev-heading tev-heading--h1 tev-heading--border-x3">Change Password</h2>

        <div class="row">

          <div class="col-12 col-md-6">
            <div class="form-label-group">

              <mat-form-field>
                <input matInput
                       type="password"
                       id="current-password"
                       class="form-control"
                       placeholder="Current Password"
                       formControlName="currentPassword"
                       autocomplete="new-password"
                       maxlength="100"
                >
                <mat-error>{{getError('currentPassword')}}</mat-error>
              </mat-form-field>

            </div>
          </div>

          <div class="col-md-6"></div>

          <div class="col-12 col-md-6">
            <div class="form-label-group">

              <mat-form-field>
                <input matInput
                       type="password"
                       id="new-password"
                       class="form-control"
                       placeholder="New Password"
                       formControlName="newPassword"
                       autocomplete="new-password"
                       maxlength="100"
                >
                <mat-error>{{getError('newPassword')}}</mat-error>
              </mat-form-field>

            </div>
          </div>

          <div class="col-12 col-md-6">
            <div class="form-label-group">

              <mat-form-field>
                <input matInput
                       type="password"
                       id="confirm-password"
                       class="form-control"
                       placeholder="Confirm Password"
                       formControlName="confirmPassword"
                       autocomplete="new-password"
                       maxlength="100"
                >
                <mat-error>{{getError('confirmPassword')}}</mat-error>
              </mat-form-field>

            </div>
          </div>

          <div class="col-12 text-right">
            <button class="tev-btn tev-btn--common tev-btn--primary" type="submit">Submit</button>
          </div>

        </div>

      </form>
    </div>

  </div>
</div>
