<tev-header-start></tev-header-start>
<div class="begin-register-container">
  <div class="begin-register">
    <div class="begin-register--header">
      <div class="begin-register--header__logo">
        <img src="/assets/icon-te.svg" alt="Tenant Evaluation">
      </div>
      <div class="begin-register--header__title">
        <p>
          Well, this is exciting!
        </p>
      </div>
      <div class="begin-register--header__text">
        <p>
          Let’s start with some basic information to sign up for an account with us.
        </p>
      </div>
    </div>
    <div class="begin-register--body">
      <form class="begin-register--body__form" [formGroup]="registerForm" (submit)="submit()">
        <div class="row begin_main no-gutters">
          <!-- <div class="col-12 col-md-7 col-lg-7 col-xl-7 ml_90"> -->
          <section class="content-box">
            <div class="row" style="margin-bottom: 0.5rem;">
              <div class="col-12 col-lg-6">
                <div class="form-label-group">
                  <span class="txt-bold txt-form-title txt-xxxs">First Name</span>
                  <mat-form-field appearance="outline">
                    <input matInput type="text" id="firstName" formControlName="firstName" minlength="2" maxlength="100"
                      tevAsciiOnly required class="register-input">
                    <mat-error>{{getError('firstName')}}</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-12 col-lg-6">
                <div class="form-label-group">
                  <span class="txt-bold txt-form-title txt-xxxs">Last Name</span>
                  <mat-form-field appearance="outline">
                    <input matInput id="lastName" formControlName="lastName" minlength="2" maxlength="100" tevAsciiOnly
                      required class="register-input">
                    <mat-error>{{getError('lastName')}}</mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row" style="margin-bottom: 0.5rem;">
              <div class="col-xs-12 col-sm-6">
                <div class="form-label-group">
                  <span class="txt-bold txt-form-title txt-xxxs">Email</span>
                  <mat-form-field appearance="outline" class="text-size-custom intro_input_text_1">
                    <input matInput type="email" id="email" formControlName="email" minlength="5" maxlength="100"
                      autocomplete="new-email" tevAsciiOnly required class="register-input">
                    <mat-error>{{getError('email')}}</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="form-label-group">
                  <span class="txt-bold txt-form-title txt-xxxs">Confirm Email</span>
                  <mat-form-field appearance="outline" class="text-size-custom intro_input_text_1">
                    <input matInput type="email" id="confirmEmail" class="form-control" formControlName="confirmEmail"
                      minlength="5" maxlength="100" tevAsciiOnly required tevBlockCopyPaste class="register-input">
                    <mat-error>{{getError('confirmEmail')}}</mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row" style="margin-bottom: 0.5rem;">
              <div class="col-xs-12 col-sm-6">
                <div class="form-label-group">
                  <span class="txt-bold txt-form-title txt-xxxs">Create A Password</span>
                  <mat-form-field appearance="outline" class="text-size-custom intro_input_text_1">
                    <input matInput [type]="hide ? 'password' : 'text'" id="thePassword" formControlName="password"
                      autocomplete="new-password" tevAsciiOnly minlength="8" maxlength="20" required
                      class="register-input">
                    <!-- <mat-error>{{getError('password')}}</mat-error> -->
                    <button matSuffix tabindex="-1" class="btn btn-form floating" type="button"
                      (click)="modifyVisibility()">
                      {{buttonText}}
                      <i translate="no" class="material-icons mat-icon-form">{{hide ? 'visibility_off' :
                        'visibility'}}</i>
                    </button>
                  </mat-form-field>
                  <!-- <p [hidden]="!showLabelPassword" class="input-info">Password must be at least 8 characters.</p> -->
                  <p [ngClass]="dangerInputPasswordInfo ? 'input-info--danger' : 'input-info'">Password must be at least
                    8 characters containing a number, an uppercase & lowercase letters.</p>
                  <!-- Password and Confirm Password must match -->
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="form-label-group">
                  <span class="txt-bold txt-form-title txt-xxxs">Confirm Password</span>
                  <mat-form-field appearance="outline" class="text-size-custom intro_input_text_1">
                    <input matInput [type]="hideCP ? 'password' : 'text'" id="confirmPassword"
                      formControlName="confirmPassword" minlength="8" maxlength="20" tevAsciiOnly required
                      tevBlockCopyPaste class="register-input">
                    <!-- <mat-error>{{getError('confirmPassword')}}</mat-error> -->
                    <button matSuffix tabindex="-1" class="btn btn-form floating" type="button"
                      (click)="modifyVisibilityCP()">
                      {{buttonTextCP}}
                      <i translate="no" class="material-icons mat-icon-form">{{hideCP ? 'visibility_off' :
                        'visibility'}}</i>
                    </button>
                  </mat-form-field>
                  <p [ngClass]="dangerInputConfirmPasswordInfo ? 'input-info--danger' : 'input-info'">Password and
                    Confirm Password must match.</p>
                  <!-- Password and Confirm Password must match -->
                </div>
                <tev-alert-badge *ngIf="info" [type]="infoType" [message]="info"></tev-alert-badge>
              </div>
            </div>
            <div class="row" style="margin-bottom: 0.5rem;">
              <div class="col-xs-4 col-sm-2">
                <div class="form-label-group">
                  <span class="txt-bold txt-form-title txt-xxxs">Country</span>
                  <mat-form-field appearance="outline" class="text-size-custom intro_input_text_1">
                    <mat-select #mySelect [(ngModel)]="firstDialCode.dial_code" (keydown)="onKeyPressed($event)"
                      [formControlName]="'dialCode'" class="register-select">
                      <mat-option *ngFor="let code of dialCodes" [value]="code | dialCodeValue">{{code | dialCodeName}}
                      </mat-option>
                    </mat-select>
                    <mat-error>{{getError('dialCode')}}</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-xs-8 col-sm-4">
                <div class="form-label-group">
                  <div class="form-label-group">
                    <span class="txt-bold txt-form-title txt-xxxs">Mobile Number</span>
                    <mat-form-field appearance="outline" class="text-size-custom intro_input_text_1">
                      <input matInput id="registerMobile" formControlName="mobile" maxlength="18"
                        [textMask]="{mask: phonemask}" class="register-input">
                      <mat-error>{{getError('mobile')}}</mat-error>
                    </mat-form-field>
                  </div>
                  <p [hidden]="!showLabelMobile" class="input-info">Mobile phone number only.</p>
                </div>

              </div>
              <div class="col-xs-12 col-sm-6">
                <button class="register-button" type="submit">CONTINUE </button>
              </div>
            </div>
            <div class="row">
              <div class="signin-link">
                <span style="color:black;">Already have an account? <a [routerLink]="['/login']"><span
                      class="txt-blue">Sign in</span></a></span>
              </div>
            </div>
          </section><!-- ./content-box -->

          <!-- </div> -->
          <!-- ./col -->
        </div><!-- ./row -->
        <!-- <div style="height: 500px;">&nbsp;</div> -->
      </form>
    </div>
    <div class="begin-register--footer">
      <p>
        By clicking the “Continue” button, you are creating a Tenant Evaluation account, and you agree to
        Tenant Evaluation’s <a [routerLink]="['/page/terms-and-conditions']"><span class="txt-xxxs txt-blue">Terms
            of Use</span></a> and <a [routerLink]="['/page/terms-and-conditions']"><span
            class="txt-xxxs txt-blue">Privacy Policy</span></a>.
      </p>
      <button class="register-button" (click)="submit()">CONTINUE </button>
      <p>All rights reserved | Tenant Evaluation {{currentYear}}</p>

    </div>
  </div>
</div>