
.document-title{
  padding-left: 15px;
  padding-top: 15px;
  font-weight: bold;
}

.right-rounded-button{
  margin-top: 25px;
}

.optional-text{
  font-size: 13px;
  color: #EB9000;
  // text-decoration: underline;
}
.mandatory_text{
  font-size: 13px;
  color: #009CDC;
  padding-bottom: 2px;
}

.mandatory_button{
  background-color: #EB9000;
}

.article-uploads {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #F8F8F8;
}

.complete_elements {
  font-size: 28px;
  color: #ADADAD;
  float: right;
  text-align: right;
  margin-top: 15px;
}

.complete_button {
  background-color: #73c422;
}


@media (max-width: 575px) {
  .optional-text{
    padding-top: 10px;
    float: left !important;
  }
  .mandatory_text {
    padding-top: 10px;
    float: left !important;
  }

  .right-rounded-button {
    margin: 25px 0px;
    width: 100%;
  }
  .title-uploads{
    h3{
      font-size: 22px;
    }
  }

  .documents__action {
    padding: 0px 0;
  }

  .complete_elements {
    text-align: center;
    margin-top: 5px;
  }

}
@media (max-width: 768px) {

  .right-rounded-button {
    padding: 5px 5px;
  }
  .documents__action {
    padding: 10px 0;
  }


}

.document__uploading {
  margin: 20px 30px 20px 10px;
  padding: 10px 10px 10px 20px;
  background: #F7F7F7 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 3px #00000029;
  border-radius: 5px;
  opacity: 1;
}

.doc-row{
  width: 100%!important;
  padding: 0px 20px;
  font-size: 12px;
}

.doc-name {
  font-weight: bold;
  color: black;
}

.doc-date {
  font-weight: normal;
  color: #ADADAD;
}

a.boxclose{
  float: right;
  margin-top: -20px;
  margin-right: -20px;
  cursor: pointer;
  color: #fff;
  border-radius: 50%;
  background: #009CDC;
  font-size: 24px;
  font-weight: normal;
  display: inline-block;
  line-height: 0px;
  padding: 11px 6px;
  width: 24px;
  height: 24px;
}

.boxclose:before {
  content: "×";
}

.document__action a:last-child {
  color: #009CDC!important;
}

.upload-reject{
  margin-right: 15px;
  font-size: 14px;
}
.upload-reject span {
  font-weight:bold;
}

