<div class="main-video-content community-user-info">
    <svg style="margin: 10px;cursor:pointer;border: 2px solid#fff;border-radius: 5px;padding: 7px;" (click)="back()" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24">
        <path fill="currentColor" d="M17.77 3.77L16 2L6 12l10 10l1.77-1.77L9.54 12z" />
      </svg>
    <div class="container-fluid p-3 col-lg-8 col-md-12">
        <div class="row justify-flex-start col-sm-12 col-md-12 col-lg-8">
            <div class="icon-te-info"></div>
        </div>
    </div>
    <div class="container-fluid col-sm-12 col-lg-8 col-md-12">
        <div>
            <span class="info-video-title">A few things to keep in mind before applying</span>
        </div>
        <div>
            <span class="info-video-subtitle">Tenant Evaluation</span>
        </div>
        <div class="videoWrapper full-width">
            <iframe [ngClass]="{'d-none': !playVideo}" id="videoplayer1" class="full-width" src="https://player.vimeo.com/video/561330589?autoplay=1" width="800" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            <div *ngIf="!playVideo" class="retry-container">
                <button (click)="retry()">REPLAY VIDEO</button>
                <button  (click)="submit()">CONTINUE</button>
            </div>
        </div>
        <div *ngIf="iphonePlayButton" class="container-fluid flex-content-center mt-3 col-sm-12 col-lg-10 col-md-12">
            <button class="iphone-btn" (click)="retryIphone()">PLAY THE VIDEO</button>
            <div class="mt-3">Make sure to play the video. You will be able to continue after the video finishes.</div>
        </div>
        <div *ngIf="shownext" class="container-fluid footer-elements col-sm-12 col-lg-10 col-md-12">
            <div class="d-flex col-sm-12 col-lg-8 col-md-8">
                <button mat-fab color="primary" (click)="goToInfoPage()">
                    <mat-icon>article</mat-icon>
                </button>
                <div class="starting-guide-info" (click)="goToInfoPage()">
                    <div class="blue-text">
                        GETTING STARTED GUIDE
                    </div>
                    <div class="font-size-13px">
                        Click here for more information
                    </div>
                </div>
            </div>
            <!-- <div class="col-sm-12 col-lg-6 col-md-6">
                <a
                    [routerLink]="['enter-code']"
                    class="tev-btn tev-btn--block tev-btn--large continue-btn">
                    Continue
                </a>
            </div> -->
        </div>
    </div>
</div>

