<div class="cas-dialog">
  <div class="mat-dialog-image">
    <img src="./assets/icon-te.svg" alt="" />
  </div>
  <h1 mat-dialog-title>Important, </h1>
  <div mat-dialog-content class="mat-dialog-content">
    <p>All people over the age of 18 who are listed on the contract and/or will be residing in the property must submit an application.</p>
    <!-- <p>on the contract and/or will be residing in</p>
    <p>the property must submit an application.</p> -->
  </div>
  <div mat-dialog-content-md class="mat-dialog-content-md">
    <p>
      All people over the age of 18 who are listed on the contract and/or will
      be residing in the property must submit an application.
    </p>
  </div>
  <div mat-dialog-actions>
    <button class="mat-dialog-button" (click)="onAccept()">I Understand</button>
  </div>
</div>
