<div class="container-fluid main-content">
  <div class="row justify-content-sm-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-8 col-xl-6">

      <section class="agreement-content-box">

        <article>

          <div class="row">
            <div class="col-6">

            </div>
            <div class="col-6 text-right">
              <div class="main-icon-holder">
                <a href="#" (click)="logOut($event)" *ngIf="isAuthenticated">Log Out</a>
              </div>
            </div>
          </div>

          <h1 class="txt-lg pt-3">Terms & Conditions</h1>

          <p class="txt-xs pt-3 txt-bold">READ THESE TERMS AND CONDITIONS (“TC”) CAREFULLY, BECAUSE BY
            APPLYING ONLINE, YOU ARE AGREEING TO BE BOUND BY THESE TERMS AND
            CONDITIONS. IF YOU DO NOT AGREE TO ALL OF THESE TERMS AND
            CONDITIONS OR DO NOT WISH TO BE BOUND BY THIS TC, DO NOT CONTINUE
            WITH THIS APPLICATION.</p>

          <p class="txt-xs pt-3 txt-bold">IDENTITY THEFT</p>

          <p class="txt-xs pt-3">Falsifying information and entering information other than your own (social security, address, or
            other personal information) can be considered as identity theft. The Identity Theft Penalty
            Enhancement Act signed into legislation in 2004 established identity theft as a federal crime. The
            law sets the penalty for identity theft as up to 15 years in prison and as much as $250,000 in
            fines.</p>

          <p class="txt-xs pt-3 txt-bold">GENERAL</p>
          <p class="txt-xs pt-3">This TC governs the use of the on line application made available by or on behalf of Tenant
            Evaluation, LLC (“TE”, “we”, “us” or “our”). For purposes of this TC, “OA” means such online
            application, together with all components thereof and all payments, online document collection,
            electronic signatures, final report, criminal data, credit reports, eviction reports, landlord
            verifications, employment verifications and character verifications. For purposes of this TC, “The
            Applicant” refers to such party applying or party applying on behlaf of the applicant with
            provided Authorization from the Applicant, (“I”, “me”, “my”, “our”, “applicant”, “party”,
            “signer”, “Consumer”) and the “End User” herby can be referred to as the Community or
            Residence to which is being applied (“Community”, “Association”, “End User”, "requester”,
            “residence”, “property”).</p>

          <p class="txt-xs pt-3 txt-bold">RESTRICTIONS</p>
          <p class="txt-xs pt-3">In addition, except as specifically provided in https://tenantevaluation.com, you are not
            permitted to modify or otherwise circumvent the operation of the OA.</p>

          <p class="txt-xs pt-3 txt-bold">CHANGE IN POLICIES</p>
          <p class="txt-xs pt-3">TE OA reserve the right to change these policies at any time. While it is not our intention to do
            so, there may be factors outside of our control that require us to implement changes to our
            policies.</p>

          <p class="txt-xs pt-3 txt-bold">DATA COLLECTION AND USE</p>
          <p class="txt-xs pt-3"> We do not share your Social Security and Date of Birth with outside parties except to the extent
            necessary to complete the final report: You hereby agree that TE, its parent, subsidiaries,
            affiliates, and their respective successors and assigns, may collect and use certain information
            associated with your OA, including, without limitation, any information provided in connection
            with OA, in accordance with TE privacy policy available athttps://tenantevaluation.com. TE may
            share aggregate data with vendors who assist TE in providing its products and services; with
            third party business partners with whom TE provides joint promotions; and TE may share
            aggregate data if TE believes it is necessary to comply with legal process (such as a court order,
            subpoena, search warrant, etc.), or other legal requirements of any governmental authority; if TE
            believes it would potentially mitigate TE’s liability in an actual or potential lawsuit; if TE
            believes it is permitted by law or if doing so will not violate the law; or if TE believes it is
            otherwise necessary to protect TE’s rights or property; or is necessary to protect the interests of
            other users of the Software. In the unlikely event that all or part of TE’s business is sold or
            acquired by a third party, TE will transfer such information to the new business owner.6. </p>

          <p class="txt-xs pt-3 txt-bold">DISCLAIMER OF WARRANTY</p>
          <p class="txt-xs pt-3">There are no representations or warranties that apply or that are made to you in any way in
            connection with the OA and final report. This product is furnished in response to an inquiry for
            Residential Screening. The information contained in this report has been obtained from third
            party sources and databases that are considered reliable. The results provided to you rely on the
            information, which was submitted to us; therefore, Tenant Evaluation LLC cannot guarantee the
            accuracy of this report. Use of this report for purposes other then those certified by you is
            prohibited. This information was obtained in compliance with the Federal Credit Reporting Act
            (FCRA) and is considered confidential. It is important to note that the data, by nature, may not be
            current due to the lag between the time a suspect is charged or case has been concluded and the
            time the data is actually reported to state, county and federal agencies.7.</p>

          <p class="txt-xs pt-3 txt-bold">LIMITATIONS OF LIABILITY</p>
          <p class="txt-xs pt-3">YOU UNDERSTAND, ACKNOWLEDGE AND AGREE THAT TO THE FULLEST EXTENT
            PERMISSIBLE BY LAW, NEITHER TE NOR ITS PARENT, SUBSIDIARIES, AFFILIATES,
            THEIR RESPECTIVE SUCCESSORS AND ASSIGNS, OFFICERS, DIRECTORS,
            EMPLOYEES, AGENTS, LICENSORS, REPRESENTATIVES, ADVERTISERS, BUSINESS
            AND PROMOTIONAL PARTNERS, OPERATIONAL SERVICE PROVIDERS, SUPPLIERS,
            RESELLERS AND CONTRACTORS SHALL, UNDER ANY CIRCUMSTANCES, BE
            RESPONSIBLE OR LIABLE FOR ANY CLAIM, LOSS OR DAMAGE, OF ANY KIND,
            DIRECT OR INDIRECT, INCLUDING, WITHOUT LIMITATION, ANY AND ALL
            COMPENSATORY, CONSEQUENTIAL, INCIDENTAL, DIRECT, INDIRECT, SPECIAL,
            EXEMPLARY OR PUNITIVE DAMAGES, IN CONNECTION WITH OR ARISING FROM
            ANY USE OF THE OA OR OTHERWISE IN CONNECTION WITH THIS TC. YOU
            FURTHER ACKNOWLEDGE AND AGREE YOUR SOLE RIGHT AND EXCLUSIVE
            REMEDY FOR ANY LOSS OR DAMAGE ASSOCIATED WITH THE OA OR THIS TC,
            EVEN IF YOU CLAIM THAT SUCH REMEDY FAILS OF ITS ESSENTIAL PURPOSE,
            SHALL BE TO HAVE TE, UPON WRITTEN NOTICE FROM YOU, ATTEMPT TO REPAIR,
            CORRECT OR REPLACE THE OA. IF REPAIR, CORRECTION OR REPLACEMENT IS
            NOT REASONABLY COMMERCIALLY PRACTICABLE IN THE SOLE AND ABSOLUTE
            DISCRETION OF TE, EITHER YOU OR TE SHALL HAVE THE RIGHT TO TERMINATE
            AND DISCONTINUE YOUR USE OF THE OA. SOME JURISDICTIONS DO NOT ALLOW
            THE EXCLUSION OF CERTAIN WARRANTIES OR CERTAIN LIMITATIONS ON
            DAMAGES AND REMEDIES. ACCORDINGLY, SOME OF THE EXCLUSIONS AND
            LIMITATIONS DESCRIBED IN THIS TC MAY NOT APPLY TO YOU.</p>

          <p class="txt-xs pt-3 txt-bold">PERMISSIBLE PURPOSE</p>
          <p class="txt-xs pt-3">Tenant Evaluation LLC processes applications and services for the sole purpose of Tenant
            Screening and HOA Fees. All information and documentation requested is pertinent and required
            by the End User. ALL INFORMATION, REPORTING, AND COLLECTED
            DOCUMENTATION IS TO BE PROVIDED TO THE END USER IN FULL SECURITY FOR
            THEIR REVIEW AND EVALUATION. </p>

          <p class="txt-xs pt-3 txt-bold">APPLICATION CODE</p>
          <p class="txt-xs pt-3">Application Codes are to be provided by the REQUESTER. Tenant Evaluation LLC does not
            provide Application Codes to Applicant. BY PROCEEDING, APPLICANT UNDERSTAND
            THAT THE END USER BEING APPLIED TO HAS PROVIDED THE CORRESPONDING
            APPLICATION CODE AND THE PURPOSE AND/OR MANAGEMENT ADDRESS OF THE
            CODE IS CORRECT TO PROCEED, AT WHICH TENANT EVALUATION LLC IS
            RELEASED FROM LIABILITY OF THE APPLICATION CODE.</p>

          <p class="txt-xs pt-3 txt-bold">UNDERSTANDING RIGHTS</p>
          <p class="txt-xs pt-3">Tenant Evaluation LLC is compliant to the laws of the Fair Credit Reporting Act. Amongst
            authorizing, processing, and abiding by disputes regulations established, we provide the
            Applicant with the following link to the Fair Credit Reporting Act for review: (LINK FCRA)
            <a
              href="https://www.ftc.gov/enforcement/rules/rulemaking-regulatory-reform-proceedings/fair-credit-reporting-act" target="_blank">https://www.ftc.gov/enforcement/rules/rulemaking-regulatory-reform-proceedings/fair-credit-reporting-act</a></p>

          <p class="txt-xs pt-3 txt-bold">APPLICATION FEE AND NON-REFUNDABLE POLICY</p>
          <p class="txt-xs pt-3">The Applicant understands that the End User being applied to has set forth and established the
            corresponding fees and costs corresponding to the Application. Furthermore, it is understood that
            Tenant Evaluation LLC contains a no refund policy on all applications because credit reports,
            criminal searches, eviction searches and other services are charged directly to TE once the
            Applicant applies online. THE APPLICATION FEE IS REQUIRED AND NONREFUNDABLE
            REGARDLESS OF THE OUTCOME OF THE APPLICATION</p>

          <p class="txt-xs pt-3 txt-bold">SECURITY</p>
          <p class="txt-xs pt-3">Tenant Evaluation LLC understands the importance of keeping the information secure from
            unauthorized access. All of the sensitive data is encrypted before being transmitted to/from our
            servers. Tenant Evaluation LLC is a Level 1 Compliant Organization. Tenantev.com,
            guestev.com, tenantevaluation.com & tellcportal.com sites are fully encrypted using 256-bit
            Encryption. The browser being used must be TLS 1.2 or above. TLS stands for Transport Layer
            Security, which is a cryptographic protocol designed to provide communications security over a
            computer network. Part of our responsibility is masking the consumer’s Personal Sensitive
            Information (PSI), for the security of Tenant Evaluation, the End User, and the Consumer. With
            that said, Tenant Evaluation LLC does not disclose Social Security Numbers, Date of Births,
            Identification Numbers, Bank Account Numbers, or any Personal Sensitive Information on Final
            Reports. THE APPLICANT UNDERSTANDS AND AGREES TO THE SECURITY
            MEASURES ESTABLISHED BY TENANT EVALUATION LLC. </p>

          <p class="txt-xs pt-3 txt-bold">NOTIFICATION CONSENT</p>
          <p class="txt-xs pt-3">Tenant Evaluation LLC will communicate with the Applicant for matters concerning the
            application or inquiries through Email, Call, Text, Fax or Mail. THE APPLICANT
            AUTHORIZES SUCH COMMUNICATION TO TAKE PLACE. TEXT COMMUNICATION
            OPTION WILL BE AVAILABLE IN THE SEQUENCE OF THE APPLICATION</p>

          <p class="txt-xs pt-3 txt-bold">AUTHORIZATION OF SERVICES</p>
          <p class="txt-xs pt-3">The Applicant hereby authorizes to release any and all information requested with regards to
            verification of bank account(s), credit history, residential history, criminal record history,
            employment verification and character references to Tenant Evaluation LLC. This information is
            to be used for credit report for Application for Occupancy. The Applicant hereby waives any
            privileges The Applicant may have with respect to the said information in reference to its release
            to the aforesaid party. Information obtained for this report is to be released to Tenant Evaluation
            LLC, Community, Property Manager, Board of Directors and The Landlord for their exclusive
            use only. Please notify The Applicant’s Landlord(s), Employer(s), and Character References that
            we MAY be contacting them to obtain a reference pursuant to your application. THE
            APPLICANT UNDERSTANDS THAT IF A CREDIT REPORT WILL BE PULLED FOR
            RENTAL OR HOA FEES PURPOSES, THIS WILL RESULT IN A HARD-HIT INQUIRY</p>

          <p class="txt-xs pt-3 txt-bold">AGREEMENT TO REQUIREMENTS</p>
          <p class="txt-xs pt-3">Tenant Evaluation LLC will be required to gather documentation, personal sensitive information,
            and general applicant information for the purpose of processing The Application. THE
            APPLICANT UNDERSTANDS THAT THESE REQUIREMENTS ARE SET FORTH AND
            ESTABLISHED BY THE END USER AND AGREE TO PROVIDE THE NECESSARY
            INFORMATION FOR PROCESSING SERVICES, AS WELL AS AGREE TO UPLOAD AND/
            OR FAX THE DOCUMENTATION TO TENANT EVALUATION LLC REQUIRED BY THE
            END USER.</p>

          <p class="txt-xs pt-3 txt-bold">ELECTRONIC SIGNATURES AND INITIALS</p>
          <p class="txt-xs pt-3">Tenant Evaluation LLC will require the Applicant to provide Electronic Signatures on one or
            more document(s). Documentation may be pertinent to the End User application, or information
            herby needed by Tenant Evaluation LLC for Application Processing. THE APPLICANT HERBY
            AGREES TO SIGN OR INITIAL AND PROVIDE THE NEEDED SIGNATURES
            CORRESPONDING TO THE APPLICATION IN METHODS REQUIRED AND PROVIDED
            BY TENANT EVALUATION LLC.</p>

          <p class="txt-xs pt-3 txt-bold">ACCOUNT ACCESS</p>
          <p class="txt-xs pt-3">The Applicant understands that Tenant Evaluation LLC may provide the Applicant with a portal,
            dashboard, or corresponding access needed for the processing and communication of the
            Application. Through this Portal, Tenant Evaluation LLC may require the Applicant to assist in
            providing or uploading information for the Application. THE APPLICANT AUTHORIZES TO
            PROCEED WITH THIS ACCESS NECESSARY FOR THE APPLICATION PROCESSING
            AND COMMUNICATION NEEDED. THE APPLICANT UNDERSTANDS THIS ACCESS
            MAY BE UPDATED THROUGH THE COURSE OF THE APPLICATION. </p>

          <p class="txt-xs pt-3 txt-bold">APPLICATION CANCELLATION</p>
          <p class="txt-xs pt-3">Tenant Evaluation LLC allows and understands cancellations may be needed during the course
            of an Application. Though an Application may be cancelled, once submitted, The Applicant has
            authorized Tenant Evaluation LLC to process the information and the needed services for the
            application, and therefore understands information may have been partially or fully processed.
            AT WHICH POINT, THE APPLICANT UNDERSTANDS THAT, THOUGH CANCELLED,
            THE APPLICATION PROCESSING HAS BEEN AUTHORIZED AND IS NONREFUNDABLE.</p>

          <p class="txt-xs pt-3 txt-bold">DISPUTING INFORMATION</p>
          <p class="txt-xs pt-3">Tenant Evaluation LLC understands and abides by the Fair Housing Act, Fair Credit Reporting
            Act, and Credit Bureau Regulations to updated any inaccurate information within the time frame
            by which the receiving method is legally directed. BY UNDERSTANDING THE
            APPLICANT’S RIGHTS, THE APPLICANT FURTHERMORE AGREES THAT ANY
            INFORMATION PROVIDED OR PROCESSED BEING INACCURATE, TENANT
            EVALUATION LLC MAY PROVIDE THE APPLICANT WITH A COPY OF THE FINAL
            REPORT, UPON REQUEST, WITHIN 60 DAYS OF COMPLETION. ANY INACCURATE
            INFORMATION MUST BE DISPUTED IN THE PROVIDED METHOD, AND MAY BE
            PROCESSED WITHIN THE LEGAL PERMISSIBLE TIME FRAME. FOR PROCESSING
            PURPOSES, TENANT EVALUATION LLC MAY REQUIRE THE APPLICANT TO
            PROVIDE ADDITIONAL INFORMATION OR DOCUMENTATION PERTAINING TO THE
            RECORD, CASE, OR INFORMATION BEING DISPUTED. </p>

        </article>

      </section>
      <input class="btn btn-lg btn-primary px-5 mb-4" type="button" value="Back" onclick="history.back()">
      
    </div>
  </div>
</div>
