.caption {
  background-image: url("~assets/icon-tenant-evaluation-dark-gray.svg");
  background-size: 36px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 50px;
  color: #bbbcbe;
  line-height: 1.2rem;
  font-size: 0.9rem;
}

.footer{
    margin-bottom: 6%;
}
