<!-- <div *ngIf="viewType !== 'normal'" > -->

<div class="box-group box-group--connect form-box" [ngClass]="viewType">
  <!-- <h4 class="box-group__title">Additional Applicant Details</h4>
  <h5 class="box-group__subtitle">
    {{ coApplicantType | coApplicantTitle }}
  </h5> -->
  <form [formGroup]="childForm" (submit)="submit()" autocomplete="off">
    <div class="row" style="margin-bottom: 1rem">
      <div class="col-12 col-md-6">
        <div class="select-applicant__form--info">
          <p>Add Co-Applicant details</p>
          <p class="txt-form-title txt-xxxs">Co-Applicant must be 18 +</p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="select-applicant__form--more-applicants">
          <button
            mat-fab
            color="dark"
            style="
              background: url('/assets/intro/icon_begin.png') no-repeat left
                center;
            "
            (click)="openExternalUrl()"
          ></button>
          <div (click)="openExternalUrl()">
            <div class="txt-xs txt-bold txt-blue" style="cursor: pointer">
              More than 2 applicants?
            </div>
            <div class="txt-xxxs txt-purple" style="cursor: pointer">
              Click here for more information
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="margin-bottom: 1rem">
      <div class="col-12 col-md-6">
        <img
          src="/assets/ID-CoMatch.gif"
          alt="Tenant Evaluation Logo"
          class="animated-gif"
        />
        <!-- class="enter-type-option__img" -->
      </div>
    </div>

    <div class="row">
      <!-- RELATIONSHIP -->
      <div class="col-xs-12 col-sm-6">
        <div class="form-label-group">
          <span class="txt-bold txt-form-title txt-xxxs">* Relationship</span>
          <mat-form-field
            appearance="outline"
            class="text-size-custom intro_input_text_1"
          >
            <mat-select
              id="relationship"
              formControlName="coApplicantType"
              class="general-select"
              data-test="coApplicantRelationship"
            >
              <mat-option
                [value]="option.value"
                *ngFor="let option of coApplicantTypes; let i = index"
                id="relationshipOption-{{ i }}"
                (click)="getValueCoApplicantType(option.value)"
                >{{ option.name }}
              </mat-option>
            </mat-select>
            <mat-error>{{ getError('coApplicantType') }}</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <!-- RELATIONSHIP -->

    <div class="row">
      <!-- FIRST NAME -->
      <div class="col-md-6 col-lg-3">
        <div class="form-label-group">
          <span class="txt-bold txt-form-title txt-xxxs">* First Name</span>
          <mat-form-field appearance="outline">
            <input
              matInput
              id="profileCoApplicantName"
              class="general-input form-control"
              formControlName="firstName"
              autocomplete="none"
              maxlength="30"
              required
              (input)="removeAccents($event, 'firstName')"
              data-test="coApplicantFirtName"
            />
            <mat-error>{{ getError('firstName') }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- FIRST NAME -->
      <!-- MIDDLE INITIAL -->
      <div class="col-md-6 col-lg-3">
        <div class="form-label-group">
          <span class="txt-bold txt-form-title txt-xxxs">Middle Initial</span>
          <mat-form-field appearance="outline">
            <input
              matInput
              id="profileCoApplicantMiddleInitial"
              class="general-input form-control"
              formControlName="middleInitial"
              autocomplete="none"
              maxlength="1"
              data-test="coApplicantMiddleInitial"
            />
            <mat-error>{{ getError('middleInitial') }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- MIDDLE INITIAL -->
      <!-- LAST NAME -->
      <div class="col-md-6 col-lg-3">
        <div class="form-label-group">
          <span class="txt-bold txt-form-title txt-xxxs">* Last Name</span>
          <mat-form-field appearance="outline">
            <input
              matInput
              id="profileCoApplicantLastName"
              class="general-input form-control"
              formControlName="lastName"
              autocomplete="none"
              maxlength="30"
              required
              (input)="removeAccents($event, 'lastName')"
              data-test="coApplicantLastName"
            />
            <mat-error>{{ getError('lastName') }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- LAST NAME -->
      <!-- SECOND SURNAME -->
      <div class="col-md-6 col-lg-3">
        <div class="form-label-group">
          <span class="txt-bold txt-form-title txt-xxxs">Second Surname</span>
          <mat-form-field appearance="outline">
            <input
              matInput
              id="profileCoApplicantMaternalname"
              class="general-input form-control"
              formControlName="maternalName"
              autocomplete="none"
              maxlength="30"
              data-test="coApplicantMaternalName"
            />
            <mat-error>{{ getError('maternalName') }}</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- EMAIL -->
      <div class="col-xs-12 col-sm-6"  *ngIf="propertyInfo.shortApplication == 'LONG'">
        <div class="form-label-group">
          <span class="txt-bold txt-form-title txt-xxxs">* Email</span>
          <mat-form-field
            appearance="outline"
            class="text-size-custom intro_input_text_1"
          >
            <input
              matInput
              type="email"
              id="spouse-email"
              class="general-input form-control"
              formControlName="email"
              autocomplete="none"
              maxlength="50"
              tevAsciiOnly
              required
              data-test="coApplicantEmail"
            />
            <mat-error>{{ getError('email') }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- EMAIL -->
      <!-- DOB -->
      <div class="col-xs-12 col-sm-6">
        <div class="form-label-group">
          <span class="txt-bold txt-form-title txt-xxxs">* Date Of Birth</span>
          <mat-form-field appearance="outline">
            <input
              matInput
              formControlName="dateOfBirth"
              id="profileCoApplicantBirthDate"
              (focus)="picker.open()"
              [matDatepicker]="picker"
              [max]="maxDate"
              [min]="minDate"
              class="general-input form-control"
              data-test="coApplicantDateOfBirth"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker startView="multi-year"></mat-datepicker>
            <mat-error>{{ getError('dateOfBirth') }}</mat-error>
            <mat-hint>mm/dd/yyyy</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <!-- DOB -->
    </div>

    <div class="row">
      <!-- DIAL CODE -->
      <div class="col-xs-4 col-sm-2">
        <div class="form-label-group">
          <span class="txt-bold txt-form-title txt-xxxs">* Dial Code</span>
          <mat-form-field
            appearance="outline"
            class="text-size-custom intro_input_text_1"
          >
            <mat-select
              class="general-select"
              [formControlName]="'dialCode'"
              [required]="true"
            >
              <mat-option
                [value]="code | dialCodeValue"
                *ngFor="let code of dialCodes"
                >{{ code | dialCodeName }}</mat-option
              >
            </mat-select>
            <mat-error>{{ getError('dialCode') }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- DIAL CODE -->
      <!-- PHONE NUMBER -->
      <div class="col-xs-8 col-sm-4">
        <div class="form-label-group">
          <span class="txt-bold txt-form-title txt-xxxs">* Mobile Number</span>
          <mat-form-field
            appearance="outline"
            class="text-size-custom intro_input_text_1"
          >
            <input
              matInput
              type="text"
              id="profileCoApplicantCellPhone"
              class="general-input form-control"
              formControlName="cellPhone"
              minlength="5"
              maxlength="47"
              [textMask]="{ mask: cellphonemask }"
              required
              data-test="coApplicantCellPhone"
            />
            <mat-error>{{ getError('cellPhone') }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- PHONE NUMBER -->
      <!-- SSN -->
      <div class="col-xs-12 col-sm-6" *ngIf="!missingSSN && setup.ssnRequired">
        <div class="form-label-group">
          <span class="txt-bold txt-form-title txt-xxxs"
            >* US / Canadian Social Security Number (SSN)</span
          >
          <mat-form-field appearance="outline">
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              id="profileCoApplicantSsn"
              class="general-input"
              formControlName="ssn"
              autocomplete="new-password"
              maxlength="9"
              data-test="coApplicantSsn"
            />
            <button
              matSuffix
              tabindex="-1"
              class="btn btn-form floating show-hidden-button"
              type="button"
              (click)="modifyVisibility()"
            >
              {{ buttonText }}
              <i translate="no" class="material-icons mat-icon-form">{{
                hide ? 'visibility_off' : 'visibility'
              }}</i>
            </button>
            <mat-error>{{ getError('ssn') }}</mat-error>
          </mat-form-field>
          <div *ngIf="!missingSSN && setup.ssnRequired">
            <a
              href=""
              (click)="toggleSSN($event)"
              class="toggle-ssn-passport"
              data-cy="coApplicantMissingSSN"
              >I don't have Social Security</a
            >
          </div>
        </div>
      </div>
      <!-- SSN -->
      <!-- PASSPORT -->
      <div class="col-xs-6 col-sm-4" *ngIf="missingSSN">
        <div class="form-label-group">
          <span class="txt-bold txt-form-title txt-xxxs">* Passport</span>
          <mat-form-field appearance="outline">
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              id="profileCoApplicantPassport"
              class="general-input"
              formControlName="passport"
              maxlength="50"
              tevAsciiOnly
              data-test="coApplicantPassport"
            />
            <button
              matSuffix
              tabindex="-1"
              class="btn btn-form floating show-hidden-button"
              type="button"
              (click)="modifyVisibility()"
            >
              {{ buttonText }}
              <i translate="no" class="material-icons mat-icon-form">{{
                hide ? 'visibility_off' : 'visibility'
              }}</i>
            </button>
            <mat-error>{{ getError('passport') }}</mat-error>
          </mat-form-field>
          <div *ngIf="missingSSN">
            <a href="" (click)="toggleSSN($event)" class="toggle-ssn-passport"
              >I have Social Security</a
            >
          </div>
        </div>
      </div>
      <!-- PASSPORT -->
      <!-- COUNTRY -->
      <div class="col-xs-6 col-sm-2" *ngIf="missingSSN">
        <div class="select-group">
          <span class="txt-bold txt-form-title txt-xxxs">* Country</span>
          <mat-form-field appearance="outline">
            <mat-select
              class="general-select"
              [formControlName]="'passportCountry'"
              data-cy="passportCountryCoApplicant"
            >
              <mat-option *ngFor="let code of countries" [value]="code.code">{{
                code.name
              }}</mat-option>
            </mat-select>
            <mat-error>{{ getError('passportCountry') }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- COUNTRY -->
    </div>

    <div class="row" *ngIf="propertyInfo.shortApplication == 'LONG'">
      <!-- AKAS -->
      <div class="col-xs-12 col-sm-6">
        <div class="form-label-group">
          <span class="txt-bold txt-form-title txt-xxxs">AKA´S</span>
          <mat-form-field appearance="outline">
            <mat-chip-list #aka aria-label="Alias selection">
              <mat-chip
                *ngFor="let alias of childForm.value.aka"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="removeAlias(alias)"
              >
                {{ alias }}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input
                class="applicant-aka"
                [matChipInputFor]="aka"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="addAlias($event)"
              />
            </mat-chip-list>
            <mat-hint class="info-tip"
              >Press enter or comma, to add a new alias</mat-hint
            >
            <mat-error>{{ getError('aka') }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- AKAS -->
    </div>

    <div class="row">
      <!-- SMS -->
      <div class="col sms-question" *ngIf="sendTextMessages() && (propertyInfo.shortApplication == 'LONG')">
        <mat-checkbox
          [formControlName]="'receiveTextMessages'"
          class="mat-checkbox--rounded"
          style="margin-right: 1rem"
        >
          I agree to receive text messages related to this application
          <strong>ONLY</strong>.
        </mat-checkbox>
      </div>
      <!-- SMS -->
    </div>
  </form>
  <!-- ./row -->
</div>
<!-- ./py-4 px-5 -->
<!-- </div> -->
