@import "../../../../../sass/new_step_one";
@import "../../../../../sass/tenant_2.0";
@import "../../../../../sass/styles_mat";

.info-tip {
    color: #0D47A1;
}
.ssnButtonAction {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.text-center {
    text-align: center;
}
.form-box{
    margin: 3rem;
}

