<div class="container-fluid">
  <div class="row">
    <div class="slide-upload">
      <div class="col d-flex p-4">
        <a [routerLink]="['../upload-documents']" class="close"><span class="sr-only">Close</span></a>
        <div class="ml-auto main-icon-holder"></div>
      </div><!-- col -->
      <div class="col text-center">
        <p class="txt-xs txt-light-purple px-5 mt-4">You can upload your document by using any of the following</p>
        <ul class="py-4">
          <li>
            <a href="" class="icon-upload- icon-upload-camera"></a>
          </li>
          <li>
            <a href="" class="icon-upload- icon-upload-drive"></a>
          </li>
          <li>
            <a href="" class="icon-upload- icon-upload-dropbox"></a>
          </li>
        </ul>
      </div><!-- col -->

    </div><!-- slide-upload -->
  </div>
</div><!-- container-fluid -->
