<div class="reset-password">
  <div class="reset-password__header">
    <img src="/assets/icon-te.svg" alt="Tenant Evaluation" class="reset-password__header--logo">
    <div class="reset-password__header--title">
      Forgot password?
    </div>
    <div class="reset-password__header--text">
      To reset your password please enter the email address associated to your account. You will get an email with some instructions to follow.
    </div>
  </div>
  <div class="reset-password__form">
    <form [formGroup]="resetPasswordInitForm" (submit)="submit()">
      <div class="reset-password__form--box">
        <span class="txt-bold txt-xxxs">Email Address</span>
        <mat-form-field appearance="outline"
            class="text-size-custom intro_input_text_1">
            <input matInput
                id="email"
                type="email"
                formControlName="email"
                minlength="5"
                maxlength="100"
                tevAsciiOnly
                required
                class="register-input"
                >
            <mat-error>{{getError('email')}}</mat-error>
        </mat-form-field>
      </div>
      <button mat-button class="reset-password__form--button" type="submit">SUBMIT</button>
    </form>
  </div>

  <div class="reset-password__back">
    <div class="button-back">
      <div (click)="onBack()">
        <span><i class="arrow"></i>Prev</span>
      </div>
    </div>
  </div>

  <div class="reset-password__footer">
      <span>All rights reserved | Tenant Evaluation {{currentYear}}</span>
  </div>



</div>






<!-- <div class="main-content login-information forgot-login-information">
  <div class="container-fluid p-0">
    <div class="row justify-content-sm-center">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4">
        <section class="content-box">
          <article>
            <div class="d-flex">


              <h1 class="minimum-line-height">
                <div class="icon-holder"></div>
                <span class="txt-title">Forgot Password?</span>
              </h1>
              <div class="main-icon-holder ml-auto"></div>
            </div>

            <div class="forgot-text">
              <p class="txt-white txt-xs">
                We just need the registered Email to sent your password reset instructions
              </p>
            </div>

            <form class="form-forgot floating-labels"
                  [formGroup]="resetPasswordInitForm"
                  (submit)="submit()">

              <div class="form-label-group">

                <mat-form-field>
                  <input matInput
                         type="email"
                         id="email"
                         class="form-control"
                         placeholder="Email"
                         formControlName="email"
                         tevAsciiOnly
                  >
                  <mat-error>{{getError('email')}}</mat-error>
                </mat-form-field>

              </div>

              <a [routerLink]="['/']" class="btn-link txt-dark-gray link-back">
                Back
              </a>


              <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </form>

          </article>
        </section>
      </div>
    </div>
  </div>
</div> -->
