@import "../../../sass/tenant_2.0";
@import "../../../sass/styles_mat";

.begin-intro-container {
  background: transparent url("/assets/intro/shutterstock_669633328.png") no-repeat right top;  opacity: 1;
  background-size: auto 100%;
  background-color: #4D445A;
  min-height: 100vh;
}

.intro-input{
  padding: 1.3em 0 1.3em 0 !important;
  transform: translate(0, +0.1rem);
  background-color: #F4F4F4;
}

// .eye-icon{
//   //transform: translate(0, -0.8rem);
// }

.begin-intro {
  display: grid;
  grid-template-rows: 1.2fr 2fr 0.20fr;
  grid-template-columns: 0.5fr 5fr 0.5fr;
  grid-template-areas:
  ". header ."
  ". body ."
  ". footer .";
  &--header {
    display: grid;
    grid-template-rows: 0.4fr 0.1fr 0.2fr;
    grid-template-columns: 1fr;
    grid-area: header;
    grid-template-areas:
    "logo1"
    "title"
    "logo2";
    &__logo {
      grid-area: logo1;
      margin: 3rem 0rem 2rem 0rem;
      position: relative;
      margin-top: 120px;
      & img {
        max-height: 60px;
      }
    }
    &__title {
      grid-area: title;
    }
    &__text {
      grid-area: logo2;
    }
  }
  &--body {
    max-width: 28rem;
    display: grid;
    grid-area: body;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    column-gap: 3rem;
    grid-template-areas:
    "signin";
  }
  &--footer {
    display: grid;
    grid-area: footer;
    & p {
      margin-top: 5rem;
      color: #A3AAB1;
      font-size: 0.8rem;
      font-family: "Roboto", Regular;
    }
  }
}

.intro-link {
  margin-top:1rem;
  & span {
  text-decoration: underline;
  }
}

.intro-box {
  &-signin {
    display: grid;
    grid-area: signin;
    background-color: white;
    border-radius: 15px;
    width: 100%;
    color: #383342;
    padding: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: 0.30fr 0.15fr 0.15fr 0.10fr;
    grid-template-areas:
    "signin-text"
    "input1"
    "input2"
    "button-signin";
    &-title {
      font-family: "Roboto", Regular;
      grid-area: signin-text;
      font-size: 25px;
      width: 50%;
      margin-bottom: 1.5rem;
    }
    &-input-user {
      display:flex;
      flex-direction: column;
      grid-area: input1;
      color: #6D6F72;
      max-width: 100%;
    }
    &-input-password {
      display:flex;
      flex-direction: column;
      grid-area: input2;
      display: flex;
      max-width: 100%;
}
    &-button {
      grid-area: button-signin;
      width: 100%;
      height: 100%;
      margin-top: 0rem;
    }
  }
}
// .div_tmp_1{
//   //grid-area: button-create;
//   padding: 1.5rem;
//   background-color: #009CDC;
//   display:flex;
//   justify-content: space-between;
//   height: auto;
//   align-items: center;
//   border-radius: 0.5rem;
// }

.mat-dialog {
    &-container {
      text-align: left !important;
    }
  }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

  @media screen and (max-width: 1060px) {
    .begin-intro-container {
      background: none;
      background-color: #4D445A;
    }
    // .intro-box-create-title, .intro-box-signin-title{
    //   width: 100%;
    // }
  }

  @media screen and (max-width: 890px) {
    .icon {
      display: none;
    }
    .intro-box-create-title, .intro-box-signin-title{
      font-size: 1.5rem;
    }
    .intro-button {
      font-size: 0.8rem;
      text-align: center;
    }
  }

  @media screen and (max-width: 780px) {
    .intro-box-signin-title{
      font-size: 1.1rem;
    }
    .intro-button {
      font-size: 0.6rem;
      text-align: center;
    }
  }


  @media screen and (max-width: 710px) {
    .begin-intro {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: auto;
      grid-template-areas:
      "header"
      "body"
      "footer";
      &--header {
        display: grid;
        grid-template-rows: 0.4fr 0.1fr 0.2fr;
        grid-template-columns: 2rem auto 30%;
        grid-area: header;
        grid-template-areas:
        ". logo1 ."
        ". title ."
        ". logo2 .";
      }
    }
    .mat-form-field-infix{
      width: 100%!important;
    }
    .begin-intro--header__text {
      & img {
        width: 80%;
        margin-bottom: 1rem;
      }
    }
    .begin-intro--body{
      margin: 0rem 1.5rem 0rem 1.5rem;
      display: grid;
      grid-area: body;
      grid-template-rows: auto;
      grid-template-columns: auto;
      row-gap: 1rem;
      grid-template-areas:
      "signin";
    }
    .intro-box-signin-title{
      font-size: 1.5rem;
      width: 66%;
    }
    .intro-box-signin {
      padding:1.5rem;
    }
    .intro-button {
      font-size: 1rem;
      height: 4.5rem;
    }
    .begin-intro--footer {
      margin-left: 2rem;
    }
  }



  @media screen and (max-width: 710px) {

    .begin-intro--body{
      margin: 0rem 0.5rem 0rem 0.5rem;
      display: grid;
    }

  }
