<div class="container upload-ids">
  <div class="row">
    <div class="col-sm-4 col-12 instruction-upload-id">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-6">
            <h1>
              <img src="/assets/icon-te.svg" alt="Tenant Evaluation">
            </h1>
          </div>
          <div class="col-sm-12 col-6">
            <a (click)="goBack()" *ngIf="showBack()" class="back-link">
              <span class="tev-icon tev-icon--back"></span>
              BACK</a>
          </div>
        </div>
        <div *ngIf="!uploading && !uploadedFinish" class="instruction-id">
          <tev-css-gif  [images]=images></tev-css-gif>
          <div class="rules">
            <ul>
              <li>Document size limit 20 MB max</li>
              <li>Supported formats JEPG, PNG and PDF</li>
              <li>Make sure the text is readable</li>
            </ul>
          </div>
        </div>
        <div *ngIf="uploading && !uploadedFinish" class="instruction-id">
          <tev-css-gif  [images]=uploadingImages></tev-css-gif>
        </div>
        <div *ngIf="uploadedFinish" class="instruction-id">
          <tev-css-gif  [images]=uploaded></tev-css-gif>
        </div>

      </div>
    </div>
    <div class="col-sm-8 col-12">
      <div class="container-upload">
        <div class="row">
          <div class="col-sm-8 col-12 mx-auto">
            <div *ngIf="uploadedFinish; else upload">

              <tev-upload-finish-message [setTitle]="finishTitle" [setSubTitle]="finishSubtitle" [setError]="errorText"
                                         [auto_closeable]="false" (closePopup)="backToDashboard()" [autoCloseTime]="10"
                                         buttonText="Back to the Dashboard"></tev-upload-finish-message>
            </div>
            <ng-template #upload>

              <div class="help-link">
                <a class="help-link" href="https://support.tenantevaluation.com/support/solutions/articles/65000166566-how-to-upload-documents-" target="_blank">
                <mat-icon>support</mat-icon>
                Need help?
                </a>
              </div>
              <div class="title-upload">
                <h3>{{this.document?.description + ' ' + this.document?.name}}</h3>
              </div>
              <div *ngIf="error" class="upload-id-error">
                <div class="row">
                  <div class="col-12">
                    <mat-icon>warning</mat-icon><span class="error-span" [hidden]="errorCode<=0"> Error {{errorCode}}</span>
                  </div>
                  <div class="col-12">
                    <p [innerHTML]="error">
                    </p>
                  </div>
                </div>
              </div>
              <div class="">
                <div *ngIf="!uploadedFinish && !uploading">


                  <ngb-accordion #acc="ngbAccordion" *ngIf="isDriverLicense();else passportUpload"
                                 (panelChange)="beforeChange($event)" [closeOthers]="true" activeIds="{{documentType}}">

                    <ngb-panel id="DRIVER_LICENSE" [disabled]="this.documentType ==='DRIVER_LICENSE_BACK'">
                      <ng-template ngbPanelTitle>
                        <span>STEP 1: <b>UPLOAD FRONT SIDE</b></span>
                      </ng-template>
                      <ng-template ngbPanelContent>

                        <div class="image-drop__zone" id="front-side-dropzone" *ngIf="showInputFile;else other_content"
                             ngx-dropzone
                             [accept]="mimetypesAccept()"
                             [maxFileSize]="tenMB" [multiple]="false" (change)="onSelect($event,'DRIVER_LICENSE')">
                          <ngx-dropzone-label>
                            <div class="text-align-center">
                              <div class="title"><h4 [innerHTML]="typeText"></h4></div>
                              <p *ngIf="documentType==='PASSPORT'"><img src="../../../assets/upload-id/passport.svg"
                                                                        class="image-upload-type"></p>
                              <p *ngIf="documentType==='DRIVER_LICENSE'"><img
                                src="../../../assets/upload-id/identification.svg" class="image-upload-type"></p>
                              <p *ngIf="documentType==='DRIVER_LICENSE_BACK'"><img
                                src="../../../assets/upload-id/identification.svg" class="image-upload-type"></p>
                              <p class="drop-p-text">Drop your image here, or <span>browse</span></p>
                            </div>
                          </ngx-dropzone-label>
                        </div>
                        <ng-template #other_content>
                          <div>other content</div>
                        </ng-template>

                      </ng-template>
                    </ngb-panel>
                    <ngb-panel id="DRIVER_LICENSE_BACK" [disabled]="this.documentType ==='DRIVER_LICENSE'">
                      <ng-template ngbPanelTitle>
                        <span>STEP 2: <b>UPLOAD BACK SIDE</b></span>
                      </ng-template>
                      <ng-template ngbPanelContent>
                        <div class="image-drop__zone" id="back-side-dropzone" *ngIf="showInputFile;else other_content"
                             ngx-dropzone
                             [accept]="mimetypesAccept()"
                             [maxFileSize]="tenMB" [multiple]="false" (change)="onSelect($event,'DRIVER_LICENSE')">
                          <ngx-dropzone-label>
                            <div class="text-align-center">
                              <div class="title"><h4 [innerHTML]="typeText"></h4></div>
                              <p *ngIf="documentType==='PASSPORT'"><img src="../../../assets/upload-id/passport.svg"
                                                                        class="image-upload-type"></p>
                              <p *ngIf="documentType==='DRIVER_LICENSE'"><img
                                src="../../../assets/upload-id/identification.svg" class="image-upload-type"></p>
                              <p *ngIf="documentType==='DRIVER_LICENSE_BACK'"><img
                                src="../../../assets/upload-id/identification.svg" class="image-upload-type"></p>
                              <p class="drop-p-text">Drop your image here, or <span>browse</span></p>
                            </div>
                          </ngx-dropzone-label>
                        </div>
                        <ng-template #other_content>
                          <div>other content</div>
                        </ng-template>
                      </ng-template>
                    </ngb-panel>
                  </ngb-accordion>

                  <ng-template #passportUpload>
                    <div class="image-drop__zone" id="passport-dropzone" *ngIf="showInputFile;else other_content"
                         ngx-dropzone
                         [accept]="mimetypesAccept()"
                         [maxFileSize]="tenMB" [multiple]="false" (change)="onSelect($event,'DRIVER_LICENSE')">
                      <ngx-dropzone-label>
                        <div class="text-align-center">
                          <div class="title"><h4 [innerHTML]="typeText"></h4></div>
                          <p *ngIf="documentType==='PASSPORT'"><img src="../../../assets/upload-id/passport.svg"
                                                                    class="image-upload-type"></p>
                          <p *ngIf="documentType==='DRIVER_LICENSE'"><img
                            src="../../../assets/upload-id/identification.svg" class="image-upload-type"></p>
                          <p *ngIf="documentType==='DRIVER_LICENSE_BACK'"><img
                            src="../../../assets/upload-id/identification.svg" class="image-upload-type"></p>
                          <p class="drop-p-text">Drop your image here, or <span>browse</span></p>
                        </div>
                      </ngx-dropzone-label>
                    </div>
                    <ng-template #other_content>
                      <div>other content</div>
                    </ng-template>
                  </ng-template>

                  <div *ngIf="canUploadFromMobile()" class="button-upload-zone">
                    <p class="text-center">OR</p>
                    <button (click)="uploadMobile()" class="btn upload-button">
                      <mat-icon class="d-sm-none d-xs-none d-md-block">mobile_screen_share</mat-icon>
                      Upload from phone or tablet
                    </button>
                  </div>
                </div>
                <div *ngIf="uploading">
                  <div class="col-md-9 offset-md-1 awesome-item">
                    <tev-uploading-message init="60" (closeMessage)="uploadTimeOut()"></tev-uploading-message>
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
